#main
{
background-color:#fff;
    width:60%;
    overflow:auto;
    height: 760px;
    margin:0 auto;
    border:1px solid blue;
    background:rgba(232,239, 252,.90);
}

#a {
    width:50%; 
    margin:0 auto;    
    background-color:aquamarine;
}

#b {
    width:50%; 
    margin:0 auto;    
    background-color:lightgreen;
}

#c {
    width:50%; 
    margin:0 auto;    
    background-color:lightgoldenrodyellow;
}
#d {
    width:50%; 
    margin:0 auto;    
    background-color:lightpink;
}
#e {
    width:50%; 
    margin:0 auto;    
    background-color:lightgray;
    height: 10%;
    overflow-y: scroll;
}

